server:
  port: 8080

spring:
  application:
    name: stanchart-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: false
        use_sql_comments: false

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate.SQL: OFF

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://service-discovery:8080/eureka}

admin:
  service:
    url: http://api-gateway:8080/admin/api/v1


scbkeys:
  private-key-path: ${STANCHART_PRIVATE_KEY_PATH:/etc/ppslinkkeys/stanchart_bank_certs/www.pps.go.ug_private.pem}
  keystore-path: ${STANCHART_KEYSTORE_PATH:/etc/ppslinkkeys/stanchart_bank_certs/www.pps.go.ug.p12}
  keystore-password: ${STANCHART_KEYSTORE_PASSWORD:oracle_4U}
  # truststore-path: ${STANCHART_TRUSTSTORE_PATH:}
  # truststore-password: ${STANCHART_TRUSTSTORE_PASSWORD:changeit}